<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	
    </startup>
	<appSettings>
		<!-- 	<add key="ExampleProjectPath" value="C:\Users\P1587\Desktop\manual\ReportExample"/>  -->
		<!-- 改成自己要參考的專案位置 -->
		<add key="ExampleProjectPath" value="C:\Users\P1587\Desktop\manual\WpfMVVMExample"/>
	</appSettings>
</configuration>